@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 w-full bg-navy p-0 font-lato text-slate;
}

h1,
h2,
h3,
h4 {
  @apply font-raleway;
}

strong {
  @apply font-normal text-green;
}

.title-xl {
  @apply animate-appear-fast text-3xl font-bold text-slate-xl 
  sm:mb-2 sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
}
.title-lg {
  @apply mb-4 animate-appear-medium text-lg font-bold 
  sm:text-xl md:mb-8 md:text-2xl lg:text-3xl xl:text-4xl;
}

/* change text selection color (firefox) */
::-moz-selection {
  @apply bg-green text-navy;
}

/* change text selection color */
::selection {
  @apply bg-green text-navy;
}

/* custom focus styles */
*:focus-visible {
  @apply outline-dashed outline-2 outline-offset-[8px] outline-green;
}

/* animated bottom border for hovering text */
.animate-bottom-border::after {
  transition: width 250ms;
  @apply block h-[2px] w-0 bg-green content-[''];
}
.animate-bottom-border:hover:after {
  @apply w-full;
}
.animate-bottom-border:focus:after {
  @apply w-full;
}

/* menu buttons burger styles */
.menu-burger-closed {
  @apply bg-green after:w-[70%];
}
.menu-burger-open {
  @apply before:!w-[90%] before:!translate-y-0 before:rotate-45 after:w-[90%] after:!translate-y-0 after:-rotate-45;
}

/* radio button types */
.radio-button-checkmark {
  @apply before:absolute before:hidden before:h-6 
    before:w-1 before:-translate-y-[5px] before:translate-x-[15px] before:rotate-45
    before:rounded-sm before:bg-green before:content-[''] after:absolute
    after:top-2 after:hidden after:h-3 after:w-1 after:-translate-y-[2.7px]
    after:translate-x-[5px] after:-rotate-45  after:rounded-sm after:bg-green 
    after:content-[''] peer-checked:before:block peer-checked:after:block;
}
.radio-button-bullet {
  @apply before:absolute before:left-[3px] before:top-[3px] 
    before:hidden before:h-[14px] before:w-[14px] before:rounded-full 
    before:bg-green before:content-[''] before:peer-checked:block;
}
