body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100vh;
  overflow-x: hidden;
}

/*This is required inside of body to hide overflow-x for menu on mobile devices!*/
.wrapper {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
}
